<div id= <%= dom_id(board_column)%> class="board-column" data-sortable-column-id-value="<%= board_column.id %>">
  <%= render partial: 'board_columns/column_header', locals: { board_column: board_column } %>

  <div id= <%= dom_id(board_column, :column_body) %> class="board-column-body" data-sortable-target="cardsContainer">
    <% board_column.cards.order(:position).each do |card| %>
      <%= render partial: 'cards/card', locals: { card: card } %>
    <% end %>
  </div>

  <div class="board-column-footer">
    <%= render partial: 'cards/new_card', locals: { board_column: board_column } %>
  </div>
</div>
